# Django-specific
*.log
*.pot
__pycache__/
*.py[cod]
db.sqlite3
media/
local_settings.py

# Virtual Environment
.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Testing/Coverage
.coverage
.tox/
.pytest_cache/
htmlcov/   